* {
    /* box-sizing: border-box;
    overflow: hidden; */
    font-family: '標楷體';
}

.main {

    /* padding: 0 0px;
    margin: 0 auto; */
    background-color:#faf7f6;
    background-repeat:no-repeat;
    /* background-image: url('/images/kimono/pg1.jpg'); */
    border: 0px solid lightseagreen;
}



tr{
    height: 110px;
}
.title{
font-size: 20px;
font-weight: bold;
text-align: center;
justify-content: center;
height: 30px;
margin: auto;
}

.day{
    font-size: 18px;
    text-align: center;
    align-items: center;
    align-content: center;
    
}

.showtext{
    font-size: 16px;
    text-align: center;
    align-items: center;
    align-content: center;
    color: crimson;
}
.holiday{
    background-color: pink;
}

/* top  */



/* 中間  left */


.content{
    /* background-image: url(../images/kimono/pg.jpg); */
    font-size: 18px;
    
}


/* .calen{
    background-image: url('/images/kimono/pg1.jpg');
    background-repeat:no-repeat;
} */

.footer {

    height: 20px;
    color:#000000;
    text-align: center;
    font-size: 16px;
    
}
